<!DOCTYPE html>
<html>

<head>
  <title>{{.PageTitle}}</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="min-h-screen bg-gradient-to-br from-orange-400 to-teal-500 pb-6">
  <main class="pt-4 container mx-auto">
    <nav class="flex items-center justify-between flex-wrap p-6">
      <h1 class="text-xl font-semibold text-white py-4">SwapiGo</h1>
      <div class="block lg:hidden">
        <button id="toggle-menu-btn"
          class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div id="nav-menu" class="w-full hidden flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow lg:ml-8">
          <a href="/people" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
            People
          </a>
          <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
            Vehicles
          </a>
          <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
            Planets
          </a>
        </div>
      </div>
    </nav>
    <!-- begin main -->
    <div class="py-8 rounded overflow-hidden shadow-lg bg-opacity-50 bg-white text-center">
      <div class="inline-block text-left">
        <h1 class="font-bold text-xl text-gray-800">Name: {{.Person.Title}}</h1>
        <h2 class="font-bold text-lg text-gray-700">
          {{.Person.SubTitle}}
        </h2>
        <p class="font-bold text-md text-gray-600">{{.Person.Body1}}</p>
        <p class="font-bold text-md text-gray-600">{{.Person.Body2}}</p>
        <p class="font-bold text-md text-gray-600">{{.Person.Body3}}</p>
        <p class="font-bold text-md text-gray-600">{{.Person.Body4}}</p>
      </div>
    </div>
    <!-- end main -->

    <!-- begin species -->
    <h1 class="text-xl text-black p-6">Species</h1>
    <!-- end title -->
    <!-- begin grid -->
    {{if not .Species }}
    <div class="grid grid-rows-1"></div>
    <div class="rounded overflow-hidden shadow-lg bg-opacity-50 bg-white p-6 text-center">
      <h1 class="font-bold text-lg text-gray-800">No Species!</h1>
    </div>
    </div>
    <!-- end grid -->
    {{else}}
    <!-- begin grid -->
    <div class="grid grid-cols-3 gap-4">
      {{range .Species}}
      <!-- begin card -->
      <div class="rounded overflow-hidden shadow-lg bg-opacity-50 bg-white">
        <div class="px-6 py-4">
          <h1 class="font-bold text-lg text-gray-800">{{.Title}}</h1>
          <h2 class="font-bold text-md text-gray-700">{{.SubTitle}}</h2>
          <h2 class="font-bold text-md text-gray-700">{{.SubTitle2}}</h2>
          <p class="text-sm text-gray-600">{{.Body}}</h2>
            <p
              class="inline-block bg-white bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{.Tags}}</p>
        </div>
      </div>
      <!-- end card -->
      {{end}}
      <!-- end grid -->
    </div>
    {{end}}
    <!-- end species -->

    <!-- begin vehicles -->
    <h1 class="text-xl text-black p-6">Vehicles</h1>
    <!-- end title -->
    <!-- begin grid -->
    {{if not .Vehicles }}
    <div class="grid grid-rows-1"></div>
    <div class="rounded overflow-hidden shadow-lg bg-opacity-50 bg-white p-6 text-center">
      <h1 class="font-bold text-lg text-gray-800">No Vehicles!</h1>
    </div>
    </div>
    <!-- end grid -->
    {{else}}
    <!-- begin grid -->
    <div class="grid grid-cols-3 gap-4">
      {{range .Vehicles}}
      <!-- begin card -->
      <div class="rounded overflow-hidden shadow-lg bg-opacity-50 bg-white hover:bg-gray-400 hover:bg-opacity-50">
        <div class="px-6 py-4">
          <h1 class="font-bold text-lg text-gray-800">{{.Title}}</h1>
          <h2 class="font-bold text-md text-gray-700">{{.SubTitle}}</h2>
          <h2 class="font-bold text-md text-gray-700">{{.SubTitle2}}</h2>
          <p class="text-sm text-gray-600">{{.Body}}</h2>
            <p
              class="inline-block bg-white bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{.Tags}}</p>
        </div>
      </div>
      <!-- end card -->
      {{end}}
      <!-- end grid -->
    </div>
    {{end}}
    <!-- end vehicles -->



    <!-- begin Starships -->
    <h1 class="text-xl text-black p-6">Starships</h1>
    <!-- end title -->
    <!-- begin grid -->
    {{if not .Starships }}
    <div class="grid grid-rows-1"></div>
    <div class="rounded overflow-hidden shadow-lg bg-opacity-50 bg-white p-6 text-center">
      <h1 class="font-bold text-lg text-gray-800">No Starships!</h1>
    </div>
    </div>
    <!-- end grid -->
    {{else}}
    <!-- begin grid -->
    <div class="grid grid-cols-3 gap-4">
      {{range .Starships}}
      <!-- begin card -->
     <div class="rounded overflow-hidden shadow-lg bg-opacity-50 bg-white hover:bg-gray-400 hover:bg-opacity-50">
        <div class="px-6 py-4">
          <h1 class="font-bold text-lg text-gray-800">{{.Title}}</h1>
          <h2 class="font-bold text-md text-gray-700">{{.SubTitle}}</h2>
          <h2 class="font-bold text-md text-gray-700">{{.SubTitle2}}</h2>
          <p class="text-sm text-gray-600">{{.Body}}</h2>
            <p
              class="inline-block bg-white bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{.Tags}}</p>
        </div>
      </div>
      <!-- end card -->
      {{end}}
      <!-- end grid -->
    </div>
    {{end}}
    <!-- end Starships -->


    <!-- end main -->
  </main>
</body>

</html>